body, h1, h2, p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-left: 5%;
  background-color: #fce9e9;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  text-align: center;
  min-height: 100vh; 
  font-family: Arial, sans-serif;
  padding: 20px;
}

.logo {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  margin: 0 auto; 
}

h1, h2 {
  color: #d12317; 
  
}

h2 {
  margin-bottom: 1rem;
}
.option-button {
  display: inline-block; 
  background-color: #ffffff; 
  color: #000000; 
  border: 1px solid #dddddd; 
  border-radius: 4px; 
  padding: 10px 20px; 
  font-size: 1rem; 
  text-decoration: none; 
  text-align: center; 
  cursor: pointer; 
  margin-bottom: 10px; 
  transition: background-color 0.3s, color 0.3s; 
  margin-left: 5%;
}

.option-button:hover {
  background-color: #ffd2d2;
  color: #ffffff; 
}

.logo-container {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 100%;        
}



@media (min-width: 768px) {
  .container {
    flex-direction: row;
    justify-content: center;
  }

  .logo {
    width: 100%; 
    max-width: 300px;
  }

  .option-button {
    width: 200px; 
    padding: 10px 20px;
  }
}