body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  border-collapse: collapse;
}

.loader {
  width: 60px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l11 2s infinite;
}
@keyframes l11 {
  0% {
    background: conic-gradient(#f03355 0, #0000 0);
  }
  12.5% {
    background: conic-gradient(#f03355 45deg, #0000 46deg);
  }
  25% {
    background: conic-gradient(#f03355 90deg, #0000 91deg);
  }
  37.5% {
    background: conic-gradient(#f03355 135deg, #0000 136deg);
  }
  50% {
    background: conic-gradient(#f03355 180deg, #0000 181deg);
  }
  62.5% {
    background: conic-gradient(#f03355 225deg, #0000 226deg);
  }
  75% {
    background: conic-gradient(#f03355 270deg, #0000 271deg);
  }
  87.5% {
    background: conic-gradient(#f03355 315deg, #0000 316deg);
  }
  100% {
    background: conic-gradient(#f03355 360deg, #0000 360deg);
  }
}

.loader2 {
  width: 80px;
  aspect-ratio: 1.154;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  --c: no-repeat linear-gradient(#f03355 0 0);
  background: var(--c), var(--c), var(--c), var(--c), var(--c);
  background-size: 100% calc(100% / 5 + 1px);
  animation: l15 2s infinite;
}
@keyframes l15 {
  0% {
    background-position: 0 calc(-2 * 100% / 4), 0 calc(-2 * 100% / 4),
      0 calc(-2 * 100% / 4), 0 calc(-2 * 100% / 4), 0 calc(-2 * 100% / 4);
  }
  20% {
    background-position: 0 calc(4 * 100% / 4), 0 calc(-2 * 100% / 4),
      0 calc(-2 * 100% / 4), 0 calc(-2 * 100% / 4), 0 calc(-2 * 100% / 4);
  }
  40% {
    background-position: 0 calc(4 * 100% / 4), 0 calc(3 * 100% / 4),
      0 calc(-2 * 100% / 4), 0 calc(-2 * 100% / 4), 0 calc(-2 * 100% / 4);
  }
  60% {
    background-position: 0 calc(4 * 100% / 4), 0 calc(3 * 100% / 4),
      0 calc(2 * 100% / 4), 0 calc(-2 * 100% / 4), 0 calc(-2 * 100% / 4);
  }
  80% {
    background-position: 0 calc(4 * 100% / 4), 0 calc(3 * 100% / 4),
      0 calc(2 * 100% / 4), 0 calc(1 * 100% / 4), 0 calc(-2 * 100% / 4);
  }
  100% {
    background-position: 0 calc(4 * 100% / 4), 0 calc(3 * 100% / 4),
      0 calc(2 * 100% / 4), 0 calc(1 * 100% / 4), 0 calc(0 * 100% / 4);
  }
}

.loader3 {
  width: 60px;
  aspect-ratio: 1;
  background: linear-gradient(#dc1818 0 0) bottom/100% 0% no-repeat #ccc;
  -webkit-mask: radial-gradient(circle at 60% 65%, #000 62%, #0000 65%) top left,
    radial-gradient(circle at 40% 65%, #000 62%, #0000 65%) top right,
    linear-gradient(to bottom left, #000 42%, #0000 43%) bottom left,
    linear-gradient(to bottom right, #000 42%, #0000 43%) bottom right;
  -webkit-mask-size: 50% 50%;
  -webkit-mask-repeat: no-repeat;
  animation: l19 2s infinite linear;
}
@keyframes l19 {
  90%,
  100% {
    background-size: 100% 100%;
  }
}

.sidebar {
  display: none;
}

.nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

nav a {
  font-size: 2.5rem;
  color: black;
  margin-right: 0.5em;
}

#small-logo > img {
  display: block;
  margin: 0 auto;
  max-width: 100px;
  height: auto;
}

.sidebar-links {
  display: none;
  text-decoration: none;
}

.login {
  flex-shrink: 0;
}

main {
  padding: 1rem;
}

footer {
  display: none;
}

@media (min-width: 769px) {
  .sidebar {
    display: flex;
    background-color: #c55c78;
    width: 175px;
    height: 100%;
    position: fixed;
    flex-direction: column;
    top: 0;
    left: 0;
    margin: 0;
    color: white;
  }

  .sidebar a {
    margin: 18px 0;
    font-size: 1.5em;
    text-align: left;
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
  }

  .sidebar a:hover {
    background-color: #8d0a0a;
  }

  .logo {
    margin-bottom: 20px;
  }

  .hamburger-menu,
  .login,
  .small-logo {
    display: none;
  }

  main,
  footer {
    margin-left: 180px;
  }

  hr {
    display: none;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.d-flex {
  flex-direction: column;
}

th {
  height: 2rem;
  text-align: left;
  background-color: #f2c5c5;
}

th,
td {
  padding: 1em;
  border-bottom: 1px solid #d3d3d3;
  color: white;
}

tbody > tr:nth-child(even) {
  background-color: #ce8e9a;
  font-size: 0.8em;
}
tbody > tr:nth-child(odd) {
  background-color: #c55c78;
  font-size: 0.8em;
}

tbody > tr:hover {
  background-color: #8d0a0a;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  margin-top: auto;
}

@media (min-width: 768px) {
  .d-flex {
    flex-direction: row;
  }
}

.card {
  width: 300px;
  height: 200px;
  background-color: #c55c78;
  color: white;
  float: left;
  margin: 20px;
  padding: 20px;
}

.title {
  margin-top: 10px;
  margin-bottom: 20px;
}
