header {
  padding: 20px;
  margin: 20px;
  text-align: center;
  background-color: #ffffff;
}

body {
  font-family: "Times New Roman", Times, serif, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

img {
  max-width: 50%;
  max-height: 50%;
}

section {
  padding: 20px;
  margin: 20px;
  background-color: #ffffff;
}

footer {
  padding: 20px;
  margin: 20px;
  text-align: left;
  background-color: #ffffff;
}

footer > h2 {
  text-align: center;
}
