body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  border-collapse: collapse;
}

/* Default styles for mobile screens */
.sidebar {
  display: none; /* Sidebar is hidden by default on small screens */
}

.hamburger-menu,
.small-logo {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #c55c78;
}

.small-logo {
  position: center;
}

main {
  padding: 1rem;
}

/* Media query for larger screens */
@media (min-width: 769px) {
  .sidebar {
    display: flex; /* Show sidebar for larger screens */
    background-color: #c55c78; /* Adjust the color to match your theme */
    width: 175px; /* Adjust the width as necessary */
    height: 100%; /* Full height */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    flex-direction: column; /* Stack children vertically */
    top: 0;
    left: 0;
    margin: 0;
  }

  .sidebar a {
    display: block;
    margin: 18px 0; /* Add margin for spacing between links */
    font-size: 1.4em; /* Restoring larger font size for larger screens */
    text-align: left;
  }

  .sidebar a:hover {
    background-color: #8d0a0a; /* Light purple, for hover effect */
  }

  .sidebar .logo {
    margin-bottom: 20px; /* Space below logo */
  }

  .sidebar-links {
    display: flex;
    flex-direction: column; /* Stack links vertically */
  }

  .hamburger-menu {
    display: none; /* Hide these for larger screens */
  }

  main,
  footer {
    margin-left: 180px;
  }

  hr {
    display: none;
  }
}
