table {
  list-style-type: none;
  padding: 20px;
  margin: 0;
  background-color: #c55c78;
  display: flex;
  border-radius: 10px;
  table-layout: fixed;
  border-collapse: collapse;
}

.requests {
  display: inline;
  color: white;
}

button {
  background-color: white;
  color: black;
  border: none;
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 10px 10px;
}

.first {
  width: 50%;
}
