body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  border-collapse: collapse;
}

form {
  background-color: #c55c78;
  padding: 20px;
  margin-bottom: 20px;
}

.form-control {
  margin-bottom: 20px;
}

.btn-primary {
  background-color: #f2c5c5;
  color: black;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.table .btn-primary {
  background-color: #c55c78;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 0.875rem;
}
