@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

/* this is global styles */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  border-collapse: collapse;
}

.footer {
  color: black;
  margin-top: auto;
  font-size: 0.8rem;
  text-align: center;
}

/* This is for the navbar */

.nav-logo {
  display: block;
  max-width: 100px;
  height: 100px;
  border-radius: 20px;
}
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-burger-bars-hover {
  background: #a90000;
}
.menu-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  font-size: 1.5rem;
  text-decoration: none;
  color: #000;
  position: static;
}
.menu-item:nth-child(2) {
  padding-top: 20px;
}
.bm-menu {
  width: 100%;
  height: 100%;
  background-color: #c55c78;
}

.menu-item:hover {
  background-color: #8d0a0a; /* Light purple, for hover effect */
}

/* This is for the sidebar */

.sidebar-display {
  display: none;
}

@media (min-width: 768px) {
  .sidebar-display {
    display: flex;
    background-color: #c55c78;
    width: 15vw;
    height: 100%;
    position: fixed;
    flex-direction: column;
    top: 0;
    left: 0;
    margin: 0;
    color: white;
  }

  .mobile-sidebar {
    display: none;
  }
}

/* this is the map page */
.map-request {
  font-weight: bold;
  text-align: center;
}
.map-popup-container {
  max-height: 300px;
  overflow-y: auto;
}
.map-food-type {
  font-weight: bold;
}
.food-bank-image {
  width: 100%;
  height: auto;
}
/* This is the donation form page */

.donation-main {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(assets/1.jpeg);
  background-size: cover;
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: white;
}

.donation-container {
  width: 80%;
  background-color: rgba(0, 0, 0, 0.5);
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 100px;
  border-radius: 15px;
}

.donation-heading {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

label {
  display: block;
}

.input-row {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.input-row label,
.input-row input {
  width: 100%;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="submit"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  color: #333;
  font-family: "Nunito Sans", sans-serif;
  margin-bottom: 20px;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder {
  color: #999;
  font-size: 14px;
}

input[type="submit"] {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: red;
}

/* This is the main page */
.mainPage {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(assets/1.jpeg);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}
.nourishing-hope {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  /* padding: 400px; */
  font-family: "Nunito Sans", Arial, sans-serif;
}

.nourishing-hope h1 {
  color: white;
  font-weight: 700;
  margin-bottom: 20px;
}

.nourishing-hope p {
  color: white;
  font-weight: 400;
  font-size: 1em;
}
.read-more {
  padding: 10px 20px;
  background-color: transparent;
  color: white;
  border: 3px solid white;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: "Nunito Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 20px;
  letter-spacing: 1px;
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.read-more:hover {
  background-color: rgb(252, 31, 94);
  color: white;
  border-color: white;
}

.foodbank-list-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  background-color: #c55c78;
  color: white;
  padding: 5px;
  text-align: left;
}

.foodbank-list-section h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-left: 20px;
}

.foodbank-list-section p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  margin-left: 20px;
}
.foodbank-list-title {
  font-size: 1rem;
  line-height: 1.3;
  text-align: center;
  padding: 0 15px;
  word-wrap: break-word;
}
.foodbank-list-subtitle {
  font-size: 0.6rem;
  text-align: left;
  padding: 0 15px;
  margin-top: 10px;
}

.foodbank-cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  padding: 0 20px;
  margin: 0 auto;
  max-width: 900px;
}
.foodbank-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
}

.foodbank-card-content {
  flex-grow: 1;
}

.btn-details {
  padding: 10px 15px;
  background-color: #444;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin-left: 20px;
  flex-shrink: 0;
}

.btn-details:hover {
  background-color: #666;
}
@media (min-width: 768px) {
  .flex-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .nourishing-hope {
    width: 50%;
    padding: 40px;
    align-items: flex-start;
  }
  .foodbank-list-section {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: flex-start;
    background-color: #c55c78;
    color: white;
    padding: 10px;
    text-align: left;
  }
  .foodbank-list-section h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  .foodbank-list-section p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }

  .foodbank-list-title {
    font-size: 2rem;
    padding: 0;
    text-align: left;
  }

  .foodbank-list-subtitle {
    font-size: 1rem;
    margin-bottom: 10px;
    padding: 0;
    text-align: left;
  }

  .foodbank-cards-container {
    justify-content: flex-start;
    padding: 0 20px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .foodbank-card {
    width: 100%;
    margin: 10px 0;
  }

  .btn-details {
    margin-left: 20px;
  }
  .footer {
    margin-top: auto;
    font-size: x-small;
    text-align: center;
  }
}
.icon {
  width: 200px;
  height: 70px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.nourishing-hope {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  /* padding: 400px; */
  font-family: "Nunito Sans", Arial, sans-serif;
}

.nourishing-hope h1 {
  color: white;
  font-weight: 700;
  margin-bottom: 20px;
}

.nourishing-hope p {
  color: white;
  font-weight: 400;
  font-size: 1em;
}
.read-more {
  padding: 10px 20px;
  background-color: transparent;
  color: white;
  border: 3px solid white;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: "Nunito Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 20px;
  letter-spacing: 1px;
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.read-more:hover {
  background-color: rgb(252, 31, 94);
  color: white;
  border-color: white;
}
.foodbank-list-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  background-color: #c55c78;
  color: white;
  padding: 5px;
  text-align: left;
}

.foodbank-list-section h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-left: 20px;
}

.foodbank-list-section p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  margin-left: 20px;
}
.foodbank-list-title {
  font-size: 1rem;
  line-height: 1.3;
  text-align: center;
  padding: 0 10px;
  word-wrap: break-word;
}
.foodbank-list-subtitle {
  font-size: 0.6rem;
  text-align: left;
  padding: 0 15px;
  margin-top: 10px;
}
.foodbank-cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  padding: 0 20px;
  margin: 0 auto;
  max-width: 900px;
}
.foodbank-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
}

.foodbank-card-content {
  flex-grow: 1;
}

.btn-details {
  padding: 10px 15px;
  background-color: #444;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin-left: 20px;
  flex-shrink: 0;
}

.btn-details:hover {
  background-color: #666;
}
.footer {
  font-size: x-small;
  text-align: center;
}

@media (min-width: 768px) {
  .mainPage {
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
      ),
      url(assets/1.jpeg);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
  }
  .flex-container {
    flex-direction: row;
    justify-content: space-between;
  }
  .nourishing-hope {
    width: 50%;
    padding: 40px;
    align-items: flex-start;
  }
  .foodbank-list-section {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    background-color: #c55c78;
    color: white;
    padding: 10px;
    text-align: left;
  }
  .foodbank-list-section h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  .foodbank-list-section p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }

  .foodbank-list-title {
    font-size: 2rem;
    padding: 0;
    text-align: left;
  }

  .foodbank-list-subtitle {
    font-size: 1rem;
    margin-bottom: 10px;
    padding: 0;
    text-align: left;
  }

  .foodbank-cards-container {
    justify-content: flex-start;
    padding: 0 20px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .foodbank-card {
    width: 100%;
    margin: 10px 0;
  }

  .btn-details {
    margin-left: 20px;
  }
  .footer {
    margin-top: auto;
    font-size: x-small;
    text-align: center;
  }
}
/* ------- */

/* Donation Form Desktop */
@media (min-width: 768px) {
  .donation-container {
    width: 100%;
  }

  .input-row {
    flex-direction: row;
    gap: 15px;
  }

  .input-row label {
    flex: 1;
    min-width: 100px;
  }
  .input-row input {
    flex: 2;
  }

  footer {
    margin-top: initial;
    font-size: x-small;
    text-align: center;
  }

  /* .nav-top,
  hr {
    display: none;
  } */
}
/* about us page */
.ab_main {
  height: 100%;
  padding-top: 100px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(assets/1.jpeg);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  flex: 1;
  color: white;
}

.ab_container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.ab_heading {
  text-align: center;
  color: white;
  margin-bottom: 30px;
}
.team {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
.aboutus-page {
  padding: 20px 0;
}
.aboutus-page h3,
.team-member h3 {
  color: #c55c78;
}
.aboutus-page p {
  line-height: 1.6;
  margin-bottom: 15px;
  text-align: justify;
}

.team-member {
  flex-basis: calc(33.333% - 60px);
  text-align: center;
}

.team-member img {
  width: 100%;
  border-radius: 50%;
  margin-bottom: 10px;
}

.team-member h3 {
  margin: 0;
  color: white;
}

.team-member p {
  font-size: 0.9rem;
}

@media (min-width: 768px) {
  .container {
    height: 85vh;
  }
  .team-section {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .team-member {
    width: calc(50% - 40px);
    padding: 0 20px;
    box-sizing: border-box;
  }

  .team-photo {
    width: 100%;
    max-width: 150px;
  }
  footer {
    text-align: center;
    margin-top: 0rem;
    font-size: x-small;
  }
}

/* This is the CSS for the Table Page */

.table-page {
  background-color: #fce9e9;
  height: 100%;
  width: auto;
}

.table-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-left: 16vw;
  margin-right: 1vw;
  font-family: Arial, sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  height: 2rem;
  text-align: left;
  background-color: #f2c5c5;
}

th,
td {
  padding: 1em;
  border-bottom: 1px solid #d3d3d3;
  color: white;
}

tbody > tr:nth-child(even) {
  background-color: #ce8e9a;
  font-size: 0.8em;
}
tbody > tr:nth-child(odd) {
  background-color: #c55c78;
  font-size: 0.8em;
}

tbody > tr:hover {
  background-color: #8d0a0a;
}

.date-range-filter {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
  font-family: Arial, sans-serif;
}

.date-range-filter input[type="date"] {
  padding: 5px;
  font-size: 14px;
  font-family: Arial, sans-serif;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.date-range-filter button {
  padding: 5px 10px;
  font-size: 14px;
  background-color: #c55c78;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: Arial, sans-serif;
}

.pagination {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: right;
  font-family: Arial, sans-serif;
}

.pagination button {
  padding: 5px 10px;
  font-size: 14px;
  background-color: #c55c78;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: Arial, sans-serif;
}

.pagination button:hover {
  background-color: #8d0a0a;
}

.pagination button:disabled {
  background-color: #c8b7ba;
  cursor: not-allowed;
}

.pagination input {
  width: 50px;
  padding: 5px;
  font-size: 14px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.pagination span {
  font-size: 14px;
}

/* This is the CSS for the Dashboard Page*/

.dashboard-page {
  background-color: #fce9e9;
  height: 100%;
  width: auto;
}

.card {
  background-color: #f2c5c5;
  display: flex;
  flex: 1;
  float: left;
  margin: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

#dashboard-page {
  height: 100%;
  margin-left: 16vw;
}

.circular-progressbar {
  max-width: 100px;
  max-height: 100px;
  color: #f2c5c5;
}
/* This is the CSS for the food Request Table*/
.FoodRequestPage-container {
  background-color: #fce9e9;
  height: 100%;
}
.Food-table {
  margin-left: 16vw;
  height: 100%;
}

.Food-Form {
  margin-left: 16vw;
  height: 100%;
  margin-top: 20px;
}

.Food-Form label {
  font-weight: bold;
}

.Food-input {
  width: 100%;
  border-radius: 10px;
  font-size: 16px;
  color: #333;
}

.Food-input input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
}

#food-submit {
  padding: 5px 10px;
  font-size: 14px;
  background-color: #fce9e9;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: Arial, sans-serif;
}

#food-submit:hover {
  background-color: #8d0a0a;
}

#food-submit:disabled {
  background-color: #c8b7ba;
  cursor: not-allowed;
}

/* This is the login page1 */

.kackLoginBody,
.kackLoginH1,
.kackLoginH2,
.kackLoginP {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fce9e9;
}

.kackLoginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  padding: 20px;
}

.kackLoginLogo {
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
}

.kackLoginH1,
.kackLoginH2 {
  color: #86211a;
}

.kackLoginH2 {
  margin-bottom: 1rem;
}

.kackLoginOptionButton {
  display: inline-block;
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #dddddd;
  border-radius: 100px;
  padding: 15px 20px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  margin-bottom: 10px;
  transition: background-color 0.3s, color 0.3s;
  font-weight: bold;
  width: 90%;
}

.kackLoginOptionButton:hover {
  background-color: #ffd2d2;
  color: #ffffff;
}

.kackLogoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@media (min-width: 768px) {
  .kackLoginContainer {
    flex-direction: row;
    justify-content: center;
  }

  .kackLoginLogo {
    width: 100%;
    max-width: 300px;
  }

  .kackLoginOptionButton {
    width: 350px;
    padding: 15px 20px;
    font-family: Corbel;
    margin-left: 5%;
    font-weight: bold;
    border-radius: 100px;
  }
}

/* This is login Foodbank account-----------------------------------------------------*/

.login-foodbank-body,
.login-foodbank-body::after,
.login-foodbank-body::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

/* Generic */
.login-foodbank-body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  background-color: #f2c5c5;
  color: #a0a5a8;
}

/* Main Container */
.login-foodbank-main {
  position: relative;
  width: 1000px;
  min-width: 1000px;
  min-height: 600px;
  height: 600px;
  padding: 25px;
  background-color: #ecf0f3;
  box-shadow: 10px 10px 10px #bc7f7f, -10px -10px 10px #daa8a8;
  border-radius: 12px;
  overflow: hidden;
}

@media (max-width: 1200px) {
  .login-foodbank-main {
    transform: scale(0.7);
  }
}

@media (max-width: 1000px) {
  .login-foodbank-main {
    transform: scale(0.6);
  }
}

@media (max-width: 800px) {
  * {
    box-sizing: border-box;
  }

  .login-foodbank-main {
    transform: scale(1);
    min-width: 95%;
    width: 95% !important;
    height: 90vh;
    overflow: hidden;
  }

  .login-foodbank-main > div {
    width: 100% !important;
  }

  .login-foodbank-form__span {
    margin-top: 16px !important;
  }

  .login-foodbank-container {
    height: 65% !important;
    left: 0 !important;
  }

  .login-foodbank-switch {
    height: 35% !important;
    top: auto !important;
    bottom: 0 !important;
    padding: 30px !important;
  }

  .login-foodbank-switch > div {
    width: 100% !important;
  }

  .login-foodbank-is-txr {
    left: 0 !important;
  }

  .login-foodbank-form__input {
    width: 90% !important;
    max-width: 350px;
  }

  .login-foodbank-title {
    font-size: 25px !important;
    line-height: 2 !important;
  }

  .login-foodbank-button {
    margin-top: 20px !important;
    height: 40px !important;
  }
}

@media (max-width: 600px) {
}

/* Container */
.login-foodbank-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 600px;
  height: 100%;
  padding: 25px;
  background-color: #ecf0f3;
  transition: 1.25s;
}

/* Form */
.login-foodbank-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.login-foodbank-form__icon {
  object-fit: contain;
  width: 100px;
  margin: 0 5px;
  transition: 0.15s;
}

.login-foodbank-form__input {
  width: 350px;
  height: 40px;
  margin: 4px 0;
  padding-left: 25px;
  font-size: 13px;
  letter-spacing: 0.15px;
  border: none;
  outline: none;
  font-family: "Montserrat", sans-serif;
  background-color: #ecf0f3;
  transition: 0.25s ease;
  border-radius: 8px;
  box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9;
}

.login-foodbank-form__input:focus {
  box-shadow: inset 4px 4px 4px #d1d9e6, inset -4px -4px 4px #f9f9f9;
}

.login-foodbank-form__span {
  margin-top: 12px;
  margin-bottom: 12px;
}

.login-foodbank-form__link {
  color: #181818;
  font-size: 15px;
  margin-top: 25px;
  border-bottom: 1px solid #a0a5a8;
  line-height: 2;
}

/* Titles and Descriptions */
.login-foodbank-title {
  font-size: 34px;
  font-weight: 700;
  line-height: 1.5;
  color: #181818;
}

.login-foodbank-description {
  font-size: 14px;
  letter-spacing: 0.25px;
  text-align: center;
  line-height: 1.6;
}

/* Button */
.login-foodbank-button {
  width: 180px;
  height: 50px;
  border-radius: 25px;
  margin-top: 50px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1.15px;
  background-color: #c55c78;
  color: #f9f9f9;
  box-shadow: 8px 8px 16px #d1d9e6, -8px -8px 16px #f9f9f9;
  border: none;
  outline: none;
  cursor: pointer;
}

.login-foodbank-button:hover {
  box-shadow: 6px 6px 10px #d1d9e6, -6px -6px 10px #f9f9f9;
  transform: scale(0.985);
  transition: 0.6s;
  background: #f2c5c5;
}

/* Container Positions */
.login-foodbank-a-container {
  z-index: 100;
  left: calc(100% - 600px);
}

.loginFoodBank_b-container {
  /* left: calc(100% - 600px); */
  z-index: 0;
}

/* Switch */
.login-foodbank-switch {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 400px;
  padding: 50px;
  z-index: 200;
  transition: 1.25s;
  background-color: #ecf0f3;
  overflow: hidden;
  box-shadow: 4px 4px 10px #d1d9e6, -4px -4px 10px #f9f9f9;
}

.login-foodbank-switch__circle {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background-color: #ecf0f3;
  box-shadow: inset 8px 8px 12px #d1d9e6, inset -8px -8px 12px #f9f9f9;
  bottom: -60%;
  left: -60%;
  transition: 1.25s;
}

.login-foodbank-switch__circle--t {
  top: -30%;
  left: 60%;
  width: 300px;
  height: 300px;
}

.login-foodbank-switch__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 400px;
  padding: 50px 55px;
  transition: 1.25s;
}

.login-foodbank-switch__button {
  cursor: pointer;
}

.login-foodbank-switch__button:hover {
  box-shadow: 6px 6px 10px #d1d9e6, -6px -6px 10px #f9f9f9;
  transform: scale(0.985);
  transition: 0.6s;
  background: #f2c5c5;
}

.login-foodbank-switch__button:active,
.login-foodbank-switch__button:focus {
  box-shadow: 2px 2px 6px #d1d9e6, -2px -2px 6px #f9f9f9;
  transform: scale(0.97);
  transition: 0.25s;
}

/* Transition Classes */
.loginFoodBank_is-txr {
  left: calc(100% - 400px);
  transition: 1.25s;
  transform-origin: left;
}

.loginFoodBank_is-txl {
  left: 0;
  transition: 1.25s;
  transform-origin: right;
}

.login-foodbank-is-txl {
  left: 0;
  transition: 1.25s;
  transform-origin: right;
}

.login-foodbank-is-z200 {
  z-index: 200;
  transition: 1.25s;
}

.loginFoodBank_foodbank-is-hidden {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: 1.25s;
}

.login-foodbank-is-gx {
  animation: login-foodbank-is-gx 1.25s;
}

@keyframes login-foodbank-is-gx {
  0%,
  10%,
  100% {
    width: 400px;
  }

  30%,
  50% {
    width: 500px;
  }
}

/* LoginFoodBank---------------------- */

.loginFoodBank {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  background-color: #ffdee9;
  background-image: linear-gradient(0deg, #ffdee9 0%, #0b0320 100%);
  color: #a0a5a8;
}

.loginFoodBank_main {
  position: relative;
  width: 1000px;
  min-width: 1000px;
  min-height: 600px;
  height: 600px;
  padding: 25px;
  background-color: #ecf0f3;
  box-shadow: 10px 10px 10px #bc7f7f, -10px -10px 10px #daa8a8;
  border-radius: 12px;
  overflow: hidden;
}

@media (max-width: 1200px) {
  .loginFoodBank_main {
    transform: scale(0.7);
  }
}

@media (max-width: 1000px) {
  .loginFoodBank_main {
    transform: scale(0.6);
  }
}

@media (max-width: 800px) {
  * {
    box-sizing: border-box;
  }

  .loginFoodBank_main {
    transform: scale(1);
    min-width: 95%;
    width: 95% !important;
    height: 90vh;
    overflow: hidden;
  }

  .loginFoodBank_main > div {
    /*position: static;*/
    width: 100% !important;
  }

  .loginFoodBank_form__span {
    margin-top: 16px !important;
  }

  .loginFoodBank_container {
    height: 65% !important;
    left: 0 !important;
  }

  .loginFoodBank_switch {
    height: 35% !important;
    top: auto !important;
    bottom: 0 !important;
    padding: 30px !important;
  }

  .loginFoodBank_switch > div {
    width: 100% !important;
  }

  .loginFoodBank_is-txr {
    left: 0 !important;
  }

  .loginFoodBank_form__input {
    width: 90% !important;
    max-width: 350px !important;
  }

  .loginFoodBank_title {
    font-size: 25px !important;
    line-height: 2 !important;
  }

  .loginFoodBank_button {
    margin-top: 20px !important;
    height: 40px !important;
  }
}

@media (max-width: 600px) {
  /*.main {*/
  /*    transform: scale(0.4);*/
  /*}*/
}

.loginFoodBank_container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 650px;
  height: 100%;
  padding: 25px;
  background-color: #ecf0f3;
  transition: 1.25s;
}

.loginFoodBank_form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.loginFoodBank_form__icon {
  object-fit: contain;
  width: 100px;
  margin: 0 5px;
  transition: 0.15s;
}

.loginFoodBank_form__input {
  padding: 0 !important;
  width: 350px !important;
  height: 40px !important;
  margin: 4px 0 !important;
  padding-left: 25px !important;
  font-size: 13px !important;
  letter-spacing: 0.15px !important;
  border: none !important;
  outline: none !important;
  font-family: "Montserrat", sans-serif !important;
  background-color: #ecf0f3 !important;
  transition: 0.25s ease !important;
  border-radius: 8px !important;
  box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9 !important;
}

.loginFoodBank_form__input:focus {
  box-shadow: inset 4px 4px 4px #d1d9e6, inset -4px -4px 4px #f9f9f9 !important;
}

.loginFoodBank_form__span {
  margin-top: 12px;
  margin-bottom: 12px;
}

.loginFoodBank_form__link {
  color: #181818;
  font-size: 15px;
  margin-top: 25px;
  border-bottom: 1px solid #a0a5a8;
  line-height: 2;
}

.loginFoodBank_title {
  font-size: 34px;
  font-weight: 700;
  line-height: 1.5;
  color: #181818;
}

.loginFoodBank_description {
  font-size: 14px;
  letter-spacing: 0.25px;
  text-align: center;
  line-height: 1.6;
}

.loginFoodBank_button {
  width: 180px;
  height: 50px;
  border-radius: 25px;
  margin-top: 50px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1.15px;
  background-color: #f2769f;
  color: #f9f9f9;
  box-shadow: 8px 8px 16px #d1d9e6, -8px -8px 16px #f9f9f9;
  border: none;
  outline: none;
  cursor: pointer;
}

.loginFoodBank_button:hover {
  box-shadow: 6px 6px 10px #d1d9e6, -6px -6px 10px #f9f9f9;
  transform: scale(0.985);
  transition: 0.6s;
  background: #ead7de;
}

/**/
.loginFoodBank_a-container {
  z-index: 100;
  left: calc(100% - 600px);
}

.loginFoodBank_b-container {
  /* left: calc(100% - 600px); */
  z-index: 0;
}

.loginFoodBank_switch {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  /* left: 0; */
  height: 100%;
  width: 400px;
  padding: 50px;
  z-index: 200;
  transition: 1.25s;
  background-color: #ecf0f3;
  overflow: hidden;
  box-shadow: 4px 4px 10px #d1d9e6, -4px -4px 10px #f9f9f9;
}

.loginFoodBank_switch__circle {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background-color: #ecf0f3;
  box-shadow: inset 8px 8px 12px #d1d9e6, inset -8px -8px 12px #f9f9f9;
  bottom: -60%;
  left: -60%;
  transition: 1.25s;
}

.loginFoodBank_switch__circle--t {
  top: -30%;
  left: 60%;
  width: 300px;
  height: 300px;
}

.loginFoodBank_foodbank-switch__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 400px;
  padding: 50px 55px;
  transition: 1.25s;
}

.loginFoodBank_switch__button {
  cursor: pointer;
}

.loginFoodBank_switch__button:hover {
  box-shadow: 6px 6px 10px #d1d9e6, -6px -6px 10px #f9f9f9;
  transform: scale(0.985);
  transition: 0.6s;
  background: #f2769f;
}

.loginFoodBank_switch__button:active,
.loginFoodBank_switch__button:focus {
  box-shadow: 2px 2px 6px #d1d9e6, -2px -2px 6px #f9f9f9;
  transform: scale(0.97);
  transition: 0.25s;
}

/**/
.loginFoodBank_is-txr {
  left: calc(100% - 400px);
  transition: 1.25s;
  transform-origin: left;
}

.loginFoodBank_is-txl {
  left: 0;
  transition: 1.25s;
  transform-origin: right;
}

.loginFoodBank_is-z200 {
  z-index: 200;
  transition: 1.25s;
}

.loginFoodBank_is-hidden {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: 1.25s;
}

.loginFoodBank_is-gx {
  animation: is-gx 1.25s;
}

@keyframes is-gx {
  0%,
  10%,
  100% {
    width: 400px;
  }

  30%,
  50% {
    width: 500px;
  }
}

/* LoginDonors page */

.loginDonors {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  background-color: #ffdee9;
  background-image: linear-gradient(0deg, #ffdee9 0%, #c9b5ff 100%);
  color: #a0a5a8;
}

/**/
.loginDonors_main {
  position: relative;
  width: 1000px;
  min-width: 1000px;
  min-height: 600px;
  height: 600px;
  padding: 25px;
  /*background-color: #fff;*/
  background-color: #ffdee9;
  background-image: linear-gradient(45deg, #ffdee9 0%, #f1bcf7 100%);

  box-shadow: 10px 10px 10px #ee77c4, -10px -10px 10px #ffdee9;
  border-radius: 12px;
  overflow: hidden;
}

@media (max-width: 1200px) {
  .loginDonors_main {
    transform: scale(0.7);
  }
}

@media (max-width: 1000px) {
  .loginDonors_main {
    transform: scale(0.6);
  }
}

@media (max-width: 800px) {
  * {
    box-sizing: border-box;
  }

  .loginDonors_main {
    transform: scale(1);
    min-width: 95%;
    width: 95% !important;
    height: 90vh;
    overflow: hidden;
    box-shadow: none;
  }

  .loginDonors_main > div {
    /*position: static;*/
    width: 100% !important;
  }

  .loginDonors_form__span {
    margin-top: 16px !important;
  }

  .loginDonors_container {
    height: 65% !important;
    left: 0 !important;
  }

  .loginDonors_switch {
    height: 35% !important;
    top: auto !important;
    left: 0;
    bottom: 0 !important;
    padding: 30px !important;
  }

  .loginDonors_switch > div {
    width: 100% !important;
  }

  .loginDonors_is-txr {
    left: 0 !important;
  }

  .loginDonors_form__input {
    width: 90% !important;
    max-width: 350px !important;
  }

  .loginDonors_title {
    font-size: 25px !important;
    line-height: 2 !important;
  }

  .loginDonors_button {
    margin-top: 20px !important;
    height: 40px !important;
  }
}

@media (max-width: 600px) {
  /*.main {*/
  /*    transform: scale(0.4);*/
  /*}*/
}

.loginDonors_container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 650px;
  height: 100%;
  padding: 25px;
  background-color: #ecf0f3;
  /*background-image: linear-gradient(45deg, #FFDEE9 0%, #B5FFFC 100%);*/
  transition: 1.25s;
}

.loginDonors_form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.loginDonors_form__icon {
  object-fit: contain;
  width: 100px;
  margin: 0 5px;
  transition: 0.15s;
}

.loginDonors_form__input {
  padding: 0 !important;
  width: 350px !important;
  height: 40px !important;
  margin: 4px 0 !important;
  padding-left: 25px !important;
  font-size: 13px !important;
  letter-spacing: 0.15px !important;
  border: none !important;
  outline: none !important;
  font-family: "Montserrat", sans-serif !important;
  background-color: #ecf0f3 !important;
  transition: 0.25s ease !important;
  border-radius: 8px !important;
  box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9 !important;
}

.loginDonors_form__input:focus {
  box-shadow: inset 4px 4px 4px #d1d9e6, inset -4px -4px 4px #f9f9f9 !important;
}

.loginDonors_form__span {
  margin-top: 30px;
  margin-bottom: 12px;
}

.loginDonors_form__link {
  color: #181818;
  font-size: 15px;
  margin-top: 25px;
  border-bottom: 1px solid #a0a5a8;
  line-height: 2;
}

.loginDonors_title {
  font-size: 34px;
  font-weight: 700;
  line-height: 3;
  color: #181818;
}

.loginDonors_description {
  font-size: 14px;
  letter-spacing: 0.25px;
  text-align: center;
  line-height: 1.6;
}

.loginDonors_button {
  width: 180px;
  height: 50px;
  border-radius: 25px;
  margin-top: 50px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1.15px;
  background-color: #ff6d89;
  color: #f9f9f9;
  box-shadow: 8px 8px 16px #d1d9e6, -8px -8px 16px #f9f9f9;
  border: none;
  outline: none;
  cursor: pointer;
}

/**/
.loginDonors_a-container {
  z-index: 100;
  /* left: calc(100% - 600px); */
}

.loginDonors_a-switch {
  z-index: 100;
  right: calc(100% - 500px);
}

.loginDonors_b-container {
  left: calc(100% - 600px);
  z-index: 0;
}

.loginDonors_switch {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  /* left: 0; */
  right: 0;
  height: 100%;
  width: 400px;
  padding: 50px;
  z-index: 200;
  background-color: #ecf0f3;
  transition: 1.25s;
  /*background-image: linear-gradient(225deg, #FFDEE9 0%, #B5FFFC 100%);*/

  overflow: hidden;
  box-shadow: 4px 4px 10px #d1d9e6, -4px -4px 10px #f9f9f9;
}

.loginDonors_switch__circle {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background-color: #ecf0f3;
  box-shadow: inset 8px 8px 12px #d1d9e6, inset -8px -8px 12px #f9f9f9;
  bottom: -60%;
  left: -60%;
  transition: 1.25s;
}

.loginDonors_switch__circle--t {
  top: -30%;
  left: 60%;
  width: 300px;
  height: 300px;
}

.loginDonors_switch__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 400px;
  padding: 50px 55px;
  transition: 1.25s;
}

.loginDonors_switch__button {
  cursor: pointer;
}

.loginDonors_switch__button:hover {
  box-shadow: 6px 6px 10px #d1d9e6, -6px -6px 10px #f9f9f9;
  /*transform: scale(0.985);*/
}

.loginDonors_button:hover {
  background-color: #ff95aa;
  transition: 0.5s;
}

.loginDonors_switch__button:active,
.loginDonors_switch__button:focus {
  box-shadow: 2px 2px 6px #d1d9e6, -2px -2px 6px #f9f9f9;
  transform: scale(0.97);
  transition: 0.25s;
}

/**/
.loginDonors_is-txr {
  left: calc(100% - 400px);
  transition: 1.25s;
  transform-origin: left;
}

.loginDonors_is-txl {
  left: 0;
  transition: 1.25s;
  transform-origin: right;
}

.loginDonors_is-z200 {
  z-index: 200;
  transition: 1.25s;
}

.loginDonors_is-hidden {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: 1.25s;
}

.loginDonors_is-gx {
  animation: is-gx 1.25s;
}

@keyframes is-gx {
  0%,
  10%,
  100% {
    width: 400px;
  }

  30%,
  50% {
    width: 500px;
  }
}
