main {
  flex: 1;
}
#title {
  margin-top: 20px;
  margin-bottom: 20px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.d-flex {
  flex-direction: column;
}

thead {
}

th {
  height: 2rem;
  text-align: left;
  background-color: #f2c5c5;
}

th,
td {
  padding: 1em;
  border-bottom: 1px solid #d3d3d3;
  color: white;
}

tbody > tr:nth-child(even) {
  background-color: #ce8e9a;
  font-size: 0.8em;
}
tbody > tr:nth-child(odd) {
  background-color: #c55c78;
  font-size: 0.8em;
}

tbody > tr:hover {
  background-color: #8d0a0a;
}

#pre,
#next {
  background-color: #f2c5c5;
  color: white;
  padding: 0.5em;
  border: 1px solid #d3d3d3;
  text-decoration: none;
  margin: 2px;
}
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  margin-top: auto;
}

@media (min-width: 768px) {
  .d-flex {
    flex-direction: row;
  }
}
